<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826817699178-lvnvgl66v70acsa7p0i6dc80ik6hpjm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826817699178-lvnvgl66v70acsa7p0i6dc80ik6hpjm7</string>
	<key>API_KEY</key>
	<string>AIzaSyCgIiyeh4p1_l9kXVLVePYN9GWiYTksmYw</string>
	<key>GCM_SENDER_ID</key>
	<string>826817699178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mezcreen</string>
	<key>PROJECT_ID</key>
	<string>mezcreen</string>
	<key>STORAGE_BUCKET</key>
	<string>mezcreen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826817699178:ios:01e7e8263ba9e64be6d913</string>
</dict>
</plist>